@font-face {
    font-family: "fandashtic-audiowide";
    src: url("/gallery/Audiowide-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

.slick-track {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .slick-track {
        height: 100vh;
        width: 100%;
    }

    .ant-carousel .slick-slide img {
        height: 100vh !important;
    }

    .headerCard {
        position: absolute;
        top: 60px;
        left: 17px;
        z-index: 20;
        width: 100%;
    }

    .site-card-border-less-wrapper {
        margin-top: 40px !important;
    }
}

@media screen and (max-width: 767px) {
    .signin-button {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .form-input-50 {
        width: 100% !important;
    }
}

.slick-slider {
    margin-bottom: 0px;
} 

.ant-carousel .slick-slide img {
    height: 250px;
}

.ant-carousel {
    position: relative;
    z-index: 10;
}

.headerCard {
    position: absolute;
    top: 110px;
    left: 17px;
    z-index: 20;
    width: 100%;
}

.ant-card-head {
    border: 0;
}

.ant-card-head-title {
    text-align: center;
    font-size: 32px;
    padding-top: 40px;
}

.ant-card-body {
    padding-top: 0px;
}

.site-card-border-less-wrapper {
    margin-top: 180px;
}

.signin-button {
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 60px;
}

.ant-form-horizontal .ant-row {
    margin-left: 0px;
    margin-right: 0px;
}

.icon-sent {
    position: absolute;
    right: 18px;
    top: 8px;
    font-size: 25px;
    color: #34b880;
}

.fd-card-logo {
    display: flex;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 70px;
    top: -30px;
    left: 43%;
}

.ant-btn-primary {
    background: #34b880 !important;
    background-color: #34b880 !important;
    border-color: #34b880 !important;
    box-shadow: none;
}

.ant-btn-primary:not([disabled]):not(.disabled):active {
    background: #34b880 !important;
    background-color: #34b880 !important;
    border-color: #34b880 !important;
}

.ant-btn-primary:focus {
    background: #34b880 !important;
    background-color: #34b880 !important;
    border-color: #34b880 !important;
}

.ant-btn-primary:hover {
    background: #74d8ae !important;
    background-color: #74d8ae !important;
    border-color: #74d8ae !important;
}

.register-btn {
    background: #e67d06 !important;
    background-color: #e67d06 !important;
    border-color: #e67d06 !important;
}

.register-btn:not([disabled]):not(.disabled):active {
    background: #e67d06 !important;
    background-color: #e67d06 !important;
    border-color: #e67d06 !important;
}

.register-btn:focus {
    background: #e67d06 !important;
    background-color: #e67d06 !important;
    border-color: #e67d06 !important;
}

.register-btn:hover {
    background: #f9941f !important;
    background-color: #f9941f !important;
    border-color: #f9941f !important;
}

.website-form-btn {
    width: 100%;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ant-form-item {
    margin-bottom: 10px !important;
}

.form-input-50 {
    width: 50%;
}

.form-input-100 {
    width: 100%;
}

input {
    height: 40px;
    font-size: 16px;
}

.form-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ant-form-inline .ant-form-item {
    flex-wrap: wrap;
}

form.functionalForm .ant-row {
    width: 100%;
}

form.functionalForm .ant-col {
    width: 100%;
}

.gx-app-nav {
    justify-content: center;
}

.ant-input-search-medium input {
    height: 36px;
}

.topNavbar {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08);
    padding: 10px 20px 0px 40px;
    height: 72px;
}