.gx-search-bar {
    min-width: 250px;
    margin-bottom: 6px;
}

.gx-search-bar i {
    position: absolute;
    left: 12px;
    top: 5px;
    font-size: 18px;
}

@media screen and (max-width: 991px) {
    .gx-search-bar i {
        top: 10px;
    }  
}
